<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>project1216</display-name>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.koreait.project1216.member.controller.Login</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/member/join</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>memberRegist</servlet-name>
		<servlet-class>com.koreait.project1216.member.controller.MemberRegist</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>memberRegist</servlet-name>
		<url-pattern>/member/join</url-pattern>
	</servlet-mapping>
	
</web-app>